include README.md
include LICENSE.txt
include VERSION
include *.hpp
include *.cpp
include *.cu
include *.cuh
include *.h
recursive-include rasterizer *.cu *.cuh *.cpp *.hpp *.h
recursive-exclude external_deps *
global-exclude *.pyc
global-exclude __pycache__